@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide:state(webkit-scrollbar) {
    display: none;
    width: 0;
}
/* Untuk Firefox */
.scrollbar-hide {
    scrollbar-width: none;
}
